body {
    background-color:rgb(218, 205, 88, 0.233);
    padding-top: 10px;
    padding-right: 280px;
    padding-bottom: 10px;
    padding-left: 350px;
}

#heading1 {
    color: rgb(17, 13, 13);
    border-style: none;
    background-color:rgb(139, 231, 146);
    padding: 10 30 10 30; 
    font-size: 40;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;    
}

@media only screen and (max-width:600px) {
    h1 {
        display: none;
    }
}

.col-sm-4 {

    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
    text-align: left;
    padding: 20 40 20 40;
    background-color: rgb(159, 228, 205);
    border-style: double;
} 

.col-sm-12 {    
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
    text-align: middle;
    padding: 20 40 20 40;
    background-color: rgb(174, 211, 198);
    border-style: double;
} 

.col-sm-6 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
    text-align: left;
    padding: 20 40 20 40;
    border-style: double;
    background-color: rgb(159, 228, 205)   
    
}

.input-group-text {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(187, 233, 218);
    font-size: 20;   

}
